<div class="container">
  <div class="row">
    <div class="col col-12">
      <section class="categories">
        <div class="category-tags">
          <a href="{{ site.baseurl }}/blog/tag/Blockchain" class="category-tags__tag">Blockchain</a>
          <a href="{{ site.baseurl }}/blog/tag/History" class="category-tags__tag">History</a>
          <a href="{{ site.baseurl }}/blog/tag/Politics" class="category-tags__tag">Politics</a>
          <a href="{{ site.baseurl }}/blog/tag/Technology" class="category-tags__tag">Technology</a>
          <a href="{{ site.baseurl }}/blog/tag/Literary" class="category-tags__tag">Literary</a>
          <a href="{{ site.baseurl }}/blog/tag/Quotes" class="category-tags__tag">Quotes</a>
          <a href="{{ site.baseurl }}/blog/tag/Miscellaneous" class="category-tags__tag">Miscellaneous</a>
        </div>
      </section>
    </div>
  </div>
</div>