<!-- begin footer-widgets -->
<section class="footer-widgets">
  <div class="container">
    <div class="row">
      <div class="col col-4 col-d-6 col-t-12">
        <div class="widget widget-info">
          <div class="footer-logo">
            {% if site.logo %}
            <img class="logo__image" src="{{ site.baseurl }}{{ site.logo }}" alt="{{ site.title }}">
            {% else %}
              {{site.title}}
            {% endif %}
          </div>
          <p class="footer-desc">{{site.hero.description}}</p>
        </div>
      </div>
      <div class="col col-4 col-d-6 col-t-12">
        <div class="widget widget-nav">
          <div class="widget__head">
            <h4 class="widget__title">Menu</h4>
          </div>
          {%include navigation.html%}
        </div>
      </div>
      

<!-- begin footer -->
<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col col-12 col-d-10 push-d-1 col-m-12 push-m-0">
      <div class="footer__inner">
        {% include social-links.html %}
        <div class="copyright">
  {{ site.time | date: '%Y' }} &copy; <a href="{{ '/' | relative_url }}">{{ site.title }}</a>. Crafted & Designed by Taimoor.
        </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- end footer -->
