<!-- begin footer-widgets -->
<section class="footer-widgets">
  <div class="container">
    <div class="row">
      <div class="col col-4 col-d-6 col-t-12">
        <div class="widget widget-info">
          <div class="footer-logo">
            {% if site.logo %}
            <img class="logo__image" src="{{ site.baseurl }}{{ site.logo }}" alt="{{ site.title }}">
            {% else %}
              {{site.title}}
            {% endif %}
          </div>
          <p class="footer-desc">{{site.hero.description}}</p>
        </div>
      </div>
      <div class="col col-4 col-d-6 col-t-12">
        <div class="widget widget-nav">
          <div class="widget__head">
            <h4 class="widget__title">Menu</h4>
          </div>
          {%include navigation.html%}
        </div>
      </div>
      <div class="col col-4 col-d-6 col-t-12">
        <!-- Removed form and related styles -->
      </div>
    </div>
  </div>
</section>
<!-- end footer-widgets -->
