<!-- begin footer-widgets -->
<section class="footer-widgets">
  <div class="container">
    <div class="row">
      <div class="col col-4 col-d-6 col-t-12">
        <div class="widget widget-info">
          <div class="footer-logo">
            {% if site.logo %}
              <img class="logo__image" src="{{ site.baseurl }}{{ site.logo }}" alt="{{ site.title }}" style="max-width: 150px;">
            {% else %}
              {{site.title}}
            {% endif %}
          </div>
          <p class="footer-desc">{{site.hero.description}}</p>
        </div>
      </div>
      <div class="col col-4 col-d-6 col-t-12">
        <div class="widget widget-nav">
          <div class="widget__head">
            <h4 class="widget__title">Menu</h4>
          </div>
          {% include navigation.html %}
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end footer-widgets -->

<!-- begin footer -->
<footer class="footer">
  <div class="container">
    <div class="row" style="display: flex; justify-content: center;">
      <div class="col col-12 col-d-10" style="text-align: center;">
        <div class="footer__inner">
          {% include social-links.html %}
          <div class="copyright" style="margin-top: 10px; font-size: 14px;">
            {{ site.time | date: '%Y' }} &copy; <a href="{{ '/' | relative_url }}">{{ site.title }}</a>. Crafted & Designed by Taimoor.
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- end footer -->
