{% if paginator.total_pages > 1 %}
<!-- begin pagination -->
<nav class="pagination">
  <div class="container">
    <div class="pagination__inner">

      <div class="pagination__list">
        <!-- Previous Page Link -->
        {% assign prev_page_class = paginator.previous_page ? '' : 'disabled' %}
        <a href="{{ paginator.previous_page_path | relative_url }}" class="pagination__prev {{ prev_page_class }}">
          <i class="ion ion-ios-arrow-back"></i> Prev
        </a>

        <!-- Page Count -->
        <div class="pagination__count">Page {{ paginator.page }} of {{ paginator.total_pages }}</div>

        <!-- Next Page Link -->
        {% assign next_page_class = paginator.next_page ? '' : 'disabled' %}
        <a href="{{ paginator.next_page_path | relative_url }}" class="pagination__next {{ next_page_class }}">
          Next <i class="ion ion-ios-arrow-forward"></i>
        </a>
      </div>

    </div>
  </div>
</nav>
<!-- end pagination -->
{% endif %}
