.section-about {
    padding-top: 40px;
    position: relative;
}

.profile {
    padding: 57px 50px 15px 50px;
}

.profile-photo {
    margin-right: 10%;
    margin-bottom: 10px;
    width: 100%;
    display: block;
}

.profile-info {
    color: #3d4451;
    padding-bottom: 25px;
    margin-bottom: 25px;
    border-bottom: 1px solid #dedede;
}

.profile-title {
    font-size: 36px;
    line-height: 1.1;
    font-weight: 700;
    margin-bottom: 5px;
}

.profile-title span {
    font-weight: 300;
}

.profile-position {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.1;
    margin-bottom: 0;
}

.profile-preword {
    margin-bottom: 28px;
    
}

.profile-preword span {
    color: #27292e;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.1;
    display: inline-block;
    padding: 7px 12px;
    text-transform: uppercase;
    position: relative;
    background-color: #fec107;
}

.profile-preword span:before {
    content: '';
    width: 0;
    height: 0;
    top: 100%;
    left: 5px;
    display: block;
    position: absolute;
    border-style: solid;
    border-width: 0 0 8px 8px;
    border-color: transparent;
}



.profile-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.profile-list li {
    margin-bottom: 13px;
}

.profile-list .title {
    display: block;
    width: 120px;
    float: left;
    color: #d4d4d5;
    font-size: 12px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
}

.profile-list .cont {
    display: block;
    margin-left: 125px;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    color: #84898e;
}

.profile-list .cont a {
    color: inherit;
}

.profile-list .cont.profile-vacation {
    font-size: 14px;
}

.profile-list .button {
    color: #fec107;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    text-transform: none;
    padding: 5px 8px;
    display: inline-block;
    position: relative;
    top: -2px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.profile-list .rsicon {
    margin-right: 10px;
    vertical-align: baseline;
}



.profile-photo {
    margin-right: 10%;
    margin-bottom: 10px;
    display: block;
}

.profile-info {
    color: #3d4451;
    padding-bottom: 25px;
    margin-bottom: 25px;
    border-bottom: 1px solid #dedede;
}

.container {
    width: 100%;
    max-width: 960px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0 auto;
}

.section {
    padding-top: 70px;
}

.section-box {
    padding: 40px 50px;
}

.section-title {
    color: #3d4451;
    font-size: 34px;
    line-height: 1.2;
    font-weight: 600;
    text-align: center;
}

.grid-box,
.post-box,
.price-box,
.section-box,
.calendar-busy,
.timeline-box-inner,
.sidebar-default .profile-photo img {
    background-color: #fff;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}

@media (max-width: 992px) {
    .section-box {
        padding: 50px 40px;
    }
}

@media (max-width: 767px) {
    .section {
        padding-top: 50px;
    }

    .section-box {
        padding: 30px 20px;
    }

    .section-title {
        font-size: 30px;
    }
}


/**
 * 2.3 - Helper Classes
 */
 .clearfix:before, .clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/**
 * 6.1 - Buttons
 */
 .btn {
    font-size: 14px;
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
    line-height: 1;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    border: none;
    cursor: pointer;
    padding: 8px 15px;
    margin-bottom: 0;
    background-image: none;
}

.btn,
.btn-outer {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    /*box-shadow: 0 0px 5px rgba(0, 0, 0, 0.2), 0 2px 5px rgba(0, 0, 0, 0.17);*/
}

.btn-outer .btn {
    box-shadow: none;
}

.btn:hover,
.btn:focus,
.btn-outer:hover,
.btn-outer:focus {
    opacity: 0.95;
    text-decoration: none;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}

.btn-outer {
    display: inline-block;
}

.btn-outer .btn {
    background: transparent !important;
}

.btn-outer:hover .btn,
.btn-outer:focus .btn {
    opacity: 1;
    box-shadow: none;
}

.btn-lg {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 15px 20px;
    min-width: 130px;
}

.btn-border {
    font-size: 14px;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
    color: #3d4451 !important;
    border: 1px solid #cbcdcf;
    background: transparent;
    box-shadow: none;
}

.btn-primary {
    color: #fff;
}

.btn-scroll-top {
    z-index: 10;
    bottom: 35px;
    right: 40px;
    position: fixed;
    width: 40px;
    height: 40px;
    display: none;
    text-align: center;
    text-decoration: none;
    border: 1px solid #d2d2d2;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: rgba(0, 0, 0, 0.02);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.btn-scroll-top:hover {
    background-color: #fff;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}

.btn-scroll-top .rsicon {
    color: #c8c8c8;
    color: rgba(0, 0, 0, 0.2);
    font-size: 15px;
    font-weight: bold;
    line-height: 38px;
}

@media (max-width: 1180px) {
    .btn-scroll-top {
        right: 15px;
        bottom: 15px;
    }
}




/**
 * 2.4 - Icons
 */
 .rsicon,
 blockquote:before,
 .ref-box .person-speech:before,
 .widget_search .search-form:before {
     display: inline-block;
     vertical-align: middle;
 }
 
 blockquote:before,
 .ref-box .person-speech:before,
 .widget_search .search-form:before {
     font-family: 'icomoon';
     speak: none;
     font-style: normal;
     font-weight: normal;
     font-variant: normal;
     text-transform: none;
     line-height: 1;
     -webkit-font-smoothing: antialiased;
     -moz-osx-font-smoothing: grayscale;
 }
 

/**
 * 6.2 - Ripple
 */
 .ripple {
    overflow: hidden;
    position: relative;
    user-select: none;
    display: inline-block;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.ripple-effect {
    margin: 0;
    padding: 0;
    position: absolute;
    user-select: none;
    pointer-events: none;
    background-color: rgba(0, 0, 0, 0.15);
    -webkit-transform: translate3d(-50%, -50%, 0);
    -moz-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

/**
 * 6.3 - Social
 */
.social {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}

.social li {
    display: inline-block;
    margin: 5px 15px;
}

.social li a {
    width: 45px;
    height: 45px;
    position: relative;
    display: inline-block;
    background-color: transparent;
    -webkit-transition: -webkit-transition, background-color 0.25s linear 0s;
    -moz-transition: -moz-transition, background-color 0.25s linear 0s;
    transition: transition, background-color 0.25s linear 0s;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.social li a:hover {
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.1);
}

.social li a, .social li a .rsicon {
    line-height: 45;
}

.social li a .rsicon {
    color: #fff;
    font-size: 20px;
    line-height: 45px;
    display: block;
}

@media (max-width: 767px) {
    .social li {
        margin-left: 5px;
        margin-right: 5px;
    }

    .social li a {
        width: 35px;
        height: 35px;
    }

    .social li a, .social li a .rsicon {
        line-height: 35px;
    }

    .social li a .rsicon {
        font-size: 17px;
    }
}