---
layout: default
---
{% if page.image and page.imagehero %}
<div class="container">
  <div class="row">
    <div class="col col-12">
      <div class="image-box">
        <img class="post-image" src="{{site.baseurl}}{{page.image}}" alt="{{page.title}}">
      </div>
    </div>
  </div>
</div>
{% endif %}

<div class="container">
  <div class="row">
    <div class="col col-8 col-d-10 push-2 push-d-1 col-t-12 push-t-0">
      <!-- begin post -->
      <article class="post animate">

        <div class="post-head">
          {% if page.tags.size >= 1 %}
          <div class="post-tags">
            {% for tag in page.tags %}
            <a href="{{ site.baseurl }}/blog/tag/{{ tag }}" class="post-tags__tag">{{ tag }}</a>
            {% endfor %}
          </div>
          {% endif %}
          <h1 class="post-title">{{ page.title | escape }}</h1>
          <div class="post__meta">
            <div class="post__author">
              <a href="{{site.baseurl}}/about/" class="post__author-image"
                style="background-image: url({{site.baseurl}}{{site.author.avatar}})" aria-label="{{site.author.name}}'s Picture"></a> <a href="{{site.baseurl}}/about/" class="post__author-link">{{site.author.name}}</a>
            </div>
            <span class="post__date">
              <time datetime="{{ page.date | date_to_xmlschema }}">{{page.date | date: '%b %d, %Y'}}</time>
            </span>
          </div>
        </div>

        <div class="post__content">
          {{ content }}
        </div>

        <div class="post__share">
  <d<div class="post__share">
  <div class="share__list">
    <!-- WhatsApp Share -->
    <a class="share__link share__whatsapp" 
       href="https://wa.me/?text={{ page.title | uri_escape }}%20{{ site.url | append: site.baseurl | append: page.url }}" 
       onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;" 
       title="Share on WhatsApp" 
       rel="nofollow">
      <i class="ion ion-logo-whatsapp"></i>
    </a>

    <!-- Facebook Share -->
    <a class="share__link share__facebook" 
       href="https://www.facebook.com/sharer/sharer.php?u={{ site.url | append: site.baseurl | append: page.url }}" 
       onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;" 
       title="Share on Facebook" 
       rel="nofollow">
      <i class="ion ion-logo-facebook"></i>
    </a>

    <!-- Twitter Share -->
    <a class="share__link share__twitter" 
       href="https://twitter.com/intent/tweet?text={{ page.title | uri_escape }}&url={{ site.url | append: site.baseurl | append: page.url }}" 
       onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;" 
       title="Share on Twitter" 
       rel="nofollow">
      <i class="ion ion-logo-twitter"></i>
    </a>

    <!-- Pinterest Share -->
    <a class="share__link share__pinterest" 
       href="http://pinterest.com/pin/create/button/?url={{ site.url | append: site.baseurl | append: page.url }}&media={{ site.url | append: site.baseurl | append: page.image | uri_escape }}&description={{ page.title | uri_escape }}" 
       onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=900,height=500,toolbar=1,resizable=0'); return false;" 
       title="Share on Pinterest" 
       rel="nofollow">
      <i class="ion ion-logo-pinterest"></i>
    </a>
  </div>
        </div>

        

        {% if site.disqus-identifier %} {% include disqus-comments.html %} {% endif %}

      </article>
      <!-- end post -->
    </div>
  </div>
</div>
